
body {
	color: blue;
    background-color: rgb(233, 229, 255);
    font-family: 'Georgia', 'Times New Roman', 'Times', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 12pt;
}

h1{
    font-family: Arial;
}